<ion-content>
  <div class="container">
    <form ngSubmit="register()">
      <p>Register</p>
      <div class="input-group">
        <ion-input placeholder="Username"></ion-input>

        <!-- 
      <div
        *ngIf="(username.dirty || username.touched) && username.errors"
        class="errors"
      >
        <span *ngIf="username.errors?.required">Username is required</span>
        <span *ngIf="username.errors?.minlength"
          >Username needs to be at least 4 characters long</span
        >
      </div>
      -->
        <ion-input type="email" placeholder="Email"></ion-input>
        <!-- 
         <div
        *ngIf="(email.dirty || email.touched) && email.errors"
        class="errors"
      >
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      -->
        <ion-input type="password" placeholder="Password"></ion-input>
        <ion-input type="password" placeholder="Confirm Password"></ion-input>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>
            <ion-button
            fill="clear"
            class="RegisterBtn"
              [routerLink]="['/registration']"
              >Register
            </ion-button>
            <ion-button
            class="isUser"
              fill="clear"
              (click)="login()"
              >Not new?
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</ion-content>
