<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div *ngFor="let question of questions" class="questions">
      <ion-card class="title">
        <ion-icon
          name="trash-outline"
          class="card-icon"
          *ngIf="admin == true"
          (click)="confirmDeleteQuestion(question.question_id)"
        ></ion-icon>
        <h1>{{question.title_q}}</h1>
        <div class="divisor"></div>
        <p>{{question.description_q}}</p>
      </ion-card>
      <div *ngIf="question.selection == true">
        <ion-card>
          <ion-radio-group>
            <ion-item *ngFor="let quest of question.value.split('|')">
              <ion-label>{{quest}}</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </div>
      <div *ngIf="question.text == true">
        <ion-card>
          <ion-input
            maxlength="{{question.response_size}}"
            placeholder="Enter your answer here (Max. {{question.response_size}})"
          ></ion-input>
        </ion-card>
      </div>
      <div *ngIf="question.numeric == true">
        <ion-card>
          <ion-input
            inputmode="numeric"
            type="number"
            placeholder="Enter your answer here (numbers only)"
          ></ion-input>
        </ion-card>
      </div>
      <div *ngIf="question.checklist == true">
        <ion-card>
          <ion-item *ngFor="let quest of question.value.split('|')">
            <ion-label>{{quest}}</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>
      </div>
      <br />
    </div> 
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="light" *ngIf="admin != true">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="admin == true"
  >
    <ion-fab-button color="primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="addNewQuestion()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="goToFormstats()">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
