<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <div *ngFor="let question of questions" class="questions">
      <ion-card class="title">
        <h1>{{question.title_q}}</h1>
        <div class="divisor"></div>
        <p>{{question.description_q}}</p>
      </ion-card>
      <div *ngIf="question.selection == true">
        <ion-card>
          <ion-radio-group>
            <ion-item *ngFor="let quest of question.value.split('|')" >
              <ion-label>{{quest}}</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-card>
      </div>
      <div *ngIf="question.text == true">
        <ion-card>
          <ion-input
            maxlength="{{question.response_size}}"
            placeholder="Enter your answer here (Max. {{question.response_size}})"
          ></ion-input>
        </ion-card>
      </div>
      <div *ngIf="question.numeric == true">
        <ion-card>
          <ion-input
            inputmode="numeric"
            type="number"
            placeholder="Enter your answer here (numbers only)"
          ></ion-input>
        </ion-card>
      </div>
      <div *ngIf="question.checklist == true">
        <ion-card>
          <ion-item *ngFor="let quest of question.value.split('|')">
            <ion-label>{{quest}}</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
        </ion-card>
      </div>
      <br />
    </div>
    <!--user-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button color="light">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-fab>  
    <!--admin-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-fab>  
  </form>
</ion-content>
