<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let menu of menus">
    <div *ngIf="recipeId != menu.menu_id && recipeId == menu.submenu">
      <div [routerLink]="['/main-menu', menu.menu_id]">
        <ion-card class="menu-card" button="true">
          <ion-card-header>
            <ion-card-subtitle> Menu </ion-card-subtitle>
            <ion-icon name="trash-outline" class="card-icon" *ngIf="admin == true" (click)="confirmDeleteMenu(menu.submenu, menu.menu_id)"></ion-icon>
            <ion-card-title class="titles">{{menu.title_menu}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="folder-open-outline" class="card-icon"></ion-icon>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div *ngFor="let menu of menus">
    <div *ngIf="recipeId == menu.menu_id && menu.form_id != null">
      <div [routerLink]="['../../forms', menu.form_id]">
        <ion-card class="form-card" button="true">
          <ion-card-header>
            <ion-card-subtitle>Form</ion-card-subtitle>
            <ion-icon name="trash-outline" class="card-icon" *ngIf="admin == true" (click)="confirmDeleteForm(menu.menu_id, menu.form_id)"></ion-icon>
            <ion-card-title class="titles">{{menu.title_form}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="document-text-outline" class="card-icon"></ion-icon>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="admin == true"
  >
    <ion-fab-button color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="addNewForm()">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="addNewMenu()">
        <ion-icon name="folder-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
