<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let menu of menus">
  <div *ngIf="recipeId != menu.menu_id">
    <div [routerLink]="['/main-menu', menu.menu_id]">
      <ion-card class="menu-card" button="true">
        <ion-card-header>
          <ion-card-subtitle> Menu </ion-card-subtitle>
          <ion-card-title class="titles">{{menu.title_menu}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="chevron-forward-outline" class="card-icon"></ion-icon>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="recipeId == menu.menu_id && menu.form_id != null"> 
    <div [routerLink]="['../../forms', menu.form_id]">
      <ion-card class="form-card" button="true">
        <ion-card-header>
          <ion-card-subtitle>Form</ion-card-subtitle>
          <ion-card-title class="titles">{{menu.title_form}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="folder-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
