<ion-header>
  <ion-toolbar>
    <ion-title>Choose your avatar</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/1.png" (click)="setImage(1)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/2.png" (click)="setImage(2)"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/3.png" (click)="setImage(3)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/4.png" (click)="setImage(4)"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/5.png" (click)="setImage(5)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/6.png" (click)="setImage(6)"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/7.png" (click)="setImage(7)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/8.png" (click)="setImage(8)"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/9.png" (click)="setImage(9)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/10.png" (click)="setImage(10)"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/11.png" (click)="setImage(11)"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/12.png" (click)="setImage(12)"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>
