<ion-header>
  <ion-toolbar>
    <ion-title>Choose your avatar</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['../../']">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/1.png" (click)="setImage('../assets/img/1.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/2.png" (click)="setImage('../assets/img/2.png')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/3.png" (click)="setImage('../assets/img/3.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/4.png" (click)="setImage('../assets/img/4.png')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/5.png" (click)="setImage('../assets/img/5.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/6.png" (click)="setImage('../assets/img/6.png')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/7.png" (click)="setImage('../assets/img/7.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/8.png" (click)="setImage('../assets/img/8.png')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/9.png" (click)="setImage('../assets/img/9.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/10.png" (click)="setImage('../assets/img/10.png')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-img src="../assets/img/11.png" (click)="setImage('../assets/img/11.png')"></ion-img>
    </ion-col>
    <ion-col
      ><ion-img src="../assets/img/12.png" (click)="setImage('../assets/img/12.png')"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>
