<ion-content>
  <div *ngFor="let menu of menus" [routerLink]="['/main-menu', menu.menu_id]">
    <ion-card class="menu-card" button="true">
      <ion-card-header>
        <ion-icon name="trash-outline" class="card-icon" *ngIf="admin == true" (click)="confirmDeleteMenu(menu.menu_id)"></ion-icon>
        <ion-card-subtitle> Menu </ion-card-subtitle>
        <ion-card-title class="titles">{{menu.title_menu}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-icon name="folder-open-outline" class="card-icon"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="goToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        color="light"
        (click)="addNewMenu()"
        *ngIf="admin == true"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
