<ion-content class="main-content">
  <ion-card class="welcome-card">
    <ion-img
      src="../../assets/img/placesholder.png"
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Hello!</ion-card-subtitle>
      <ion-card-title class="titles">Welcome to Your Forms!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Already a user? Click on Login to get into your account!</p>
      <br />
      <p>New here? Register to get started right away!</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-img
      src="https://www.hibelia.com/sites/default/files/news.jpg"
    ></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Updates</ion-card-subtitle>
      <ion-card-title class="titles"
        >What's new in Version 0.0.1?</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <p>
        In this update we basically bring nothing, this is the first version duh
        ;)
      </p>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="login()">
    <ion-button color="light">
      Login
    </ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="register()">
    <ion-button color="light">
      Register
    </ion-button>
  </ion-fab>

</ion-content>