<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title != '|'">Stats of {{title}}</ion-title>
    <ion-title *ngIf="title == '|'">Non-existent statistics</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let answer of answers; let i = index" class="questions">
  <ion-card >
    <ion-card class="title">
      <h1>{{answer.title_q}}</h1>
    </ion-card>
    <div >
    <div *ngIf="answer.question != null">
      <ion-card>
          <ion-item *ngFor="let quest of answer.question.split('|')">
            <ion-label *ngIf="quest == answer.value">{{quest}}:  ✔</ion-label>
            <ion-label *ngIf="quest != answer.value">{{quest}} </ion-label>
          </ion-item>
      </ion-card>
    </div>
    <div *ngIf="answer.question == null">
      <ion-card>
          <ion-item>
            <ion-label>{{answer.value}}</ion-label>
          </ion-item>
      </ion-card>
    </div>
    </div>
    <br />
  </ion-card>
  </div>
</ion-content>