<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Stats of {{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let answer of answers; let i = index" class="questions">
    <ion-card class="title">
      <h1>{{answer.title_q}}</h1>
    </ion-card>
    <div *ngIf="answer != null">
      <ion-card>
          <ion-item *ngFor="let quest of answer.value.split('|')">
            <ion-label>{{quest}}</ion-label>
          </ion-item>
      </ion-card>
    </div>
    <div *ngIf="answer == null">
      <ion-card>
          <ion-item>
            <ion-label>{{answer.value}}</ion-label>
          </ion-item>
      </ion-card>
    </div>
    <br />
  </div>
</ion-content>