<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="title == '|'">Not Exist Stats</ion-title>
    <ion-title *ngIf="title != '|'">Stats of {{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let answer of answers" class="questions">
    <ion-card class="title">
      <h1>{{answer.title_q}}</h1>
    </ion-card>
      <ion-card *ngIf="answer.question != null">
        <ion-item *ngFor="let quest of answer.question.split('|')">
          <div *ngIf="answer.value == quest">
            <ion-label>{{quest}}: {{statistics + 1}} ✔</ion-label>
          </div>
          <div *ngIf="answer.value != quest ">
            <ion-label>{{quest}}</ion-label>
          </div>
        </ion-item>
      </ion-card>
      <ion-card *ngIf="answer.question == null">
        <ion-item>
          <ion-label>{{answer.value}}</ion-label>
        </ion-item>
      </ion-card>
    <br />
  </div>
</ion-content>