ion-content {
  --padding-top: 50%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: linear-gradient(to right top, #59cab5, #d7eff8);
}

ion-button {
  --ion-color-tertiary: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8)
  );
  --ion-color-tertiary-contrast: black;

  --ion-color-secondary: linear-gradient(
    to right bottom,
    rgba(0, 172, 252, 0.9),
    rgba(255, 255, 255, 0.8)
  );
}

ion-item {
  --ion-color-tertiary: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  --ion-color-tertiary-contrast: #000000;
}

.login-header{
  background: black;
}

.login-header{
  position: relative;
  border-radius: 0em;
}

.login-header::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 15;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: black;
  border-bottom: 0;
  margin-bottom: -15px;
}

.logo-img{
  display: block;
  width: 120px;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.circle1,
.circle2,
.circle3 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8)
  );
  height: 15rem;
  width: 15rem;
  z-index: 1;
  position: fixed;
  border-radius: 50%;
  z-index: 0;
}

.circle1 {
  top: 7%;
  right: 2%;
}

.circle2 {
  top: 40%;
  right: 50%;
}

.circle3 {
  bottom: 5%;
  left: 45%;
}
