<ion-content>
  <div class="container">
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <p>Welcome back!</p>
      <div class="input-group">
        <ion-input
          type="text"
          formControlName="username"
          placeholder="Username"
        ></ion-input>
        <div
          *ngIf="(username.dirty || username.touched) && username.errors"
          class="errors"
        >
          <span *ngIf="username.errors?.required">Username is required</span>
        </div>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Password"
        ></ion-input>
        <div
          *ngIf="(password.dirty || password.touched) && password.errors"
          class="errors"
        >
          <span *ngIf="password.errors?.required">Password is required</span>
        </div>
      </div>

      <ion-button
        fill="clear"
        class="login"
        type="submit"
        [disabled]="!credentials.valid"
        >Log in</ion-button>
      <ion-button fill="clear" class="notUser" type="button" (click)="register()"
        >Not registered?
      </ion-button>
    </form>
  </div>
  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
  </div>
</ion-content>
