$white: rgba(255, 255, 255, 0.3);

ion-content {
  --background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 100vh;
  position: relative;
}

ion-input,
ion-button {
  --ion-color-primary: white;
  --ion-color-primary-shade: transparent;
  background: transparent;
  width: 200px;
  height: 50px;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
}

ion-button {
  width: 150px;
}

form {
  background: $white;
  padding: 3em;
  height: 450px;
  border-radius: 20px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.notUser {
  text-decoration: none;
  color: #ddd;
  font-size: 15px;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.errors {
  transform: translateY(-60%);
  font-size: small;
  color: rgba(255, 0, 0, 0.8);
  background: transparent;
  padding-left: 15px;
  padding-bottom: 5px;
}

.drop {
  background: $white;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border-left: 1px solid $white;
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;

  &-1 {
    height: 80px;
    width: 80px;
    top: 140px;
    left: 10px;
    z-index: 1;
  }

  &-2 {
    height: 80px;
    width: 80px;
    bottom: 20px;
    left: 30px;
  }

  &-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: 20px;
    z-index: -1;
  }

  &-4 {
    height: 120px;
    width: 120px;
    top: 40px;
    right: 30px;
    z-index: -1;
  }

  &-5 {
    height: 60px;
    width: 60px;
    bottom: 160px;
    left: 90px;
    z-index: 1;
  }
}
